body {
  background-color: #fff;
  color: #212529;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}

.clear-both {
  clear: both;
}
.wrapper {
  position: inherit;
  width: 100%;
  display: block;
}
